<h1>Edit post <%= @edit_post.id %></h1>
<%= @edit_post.inspect %>

<%= form_for @edit_post do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :content %>
  <%= f.text_field :content %>

    <%= f.submit %>
<% end %>
